@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}


.transitionEffect {
  transition: max-height .50s cubic-bezier(.47,.42,0,.99),margin-top .50s cubic-bezier(.47,.42,0,.99),opacity .50s cubic-bezier(.47,.42,0,.99);
}